.img-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 396px);
    grid-template-rows: auto auto;
    grid-gap: 20px;
    &__item {
        width: 100%;
        height: auto;
        & > figcaption {
            text-align: center;
        }
    }
}
