body {
    width: 100%;
    max-width: 1920px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
}
a,
a:active,
a:visited {
    text-decoration: none;
    color: initial;
}
.top-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    box-sizing: border-box;
    height: 96px;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 5;
    &__link {
        border: 1px solid #ffffff;
        padding: 14px 16px;
        box-sizing: border-box;
        z-index: 5;
        order: 0;
        &-text {
            font-weight: 450;
            color: #fff;
        }
    }
    &__logo-img {
        z-index: 5;
        order: 1;
        width: 214px;
        height: 64px;
        background-image: url("/img/logo-fff.png");
    }
}
.dark-link {
    width: 164px;
    height: 48px;
    border: 1px solid #000;
    background-color: #000;
    box-sizing: content-box;
    & > a {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        font-weight: 450;
        color: #fff;
    }
}
.mobile-menu__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 53px;
    height: 28px;
    cursor: pointer;
    transition: 0.4s;
    order: 2;
}
.mobile-menu__icon {
    display: block;
    position: relative;
    background: #fff;
    width: 90%;
    height: 1px;
    transition: 0.4s;
}
.mobile-menu__icon::after,
.mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: #fff;
    width: 100%;
    height: 1px;
    transition: 0.4s;
}
.mobile-menu__icon::after {
    top: 8px;
    width: 50%;
}
.mobile-menu__icon::before {
    top: -8px;
}
.top-menu {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
    background-color: #fff;
    &__border {
        width: 100%;
        border: 1px solid #bdbdbd;
    }
    &__item {
        margin-bottom: 48px;
    }
    &__list {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 31px;
        transition: 0.5s;
        list-style: none;
    }
    &__link {
        color: #000;
    }
}
.mobile-menu__checkbox {
    display: none;
}
.mobile-menu__checkbox:checked ~ .top-header__logo-img {
    background-image: url("/img/logo-000.png");
    transition: 0.5s;
}
.mobile-menu__checkbox:checked ~ .top-header__link > .top-header__link-text {
    border: 1px solid #000;
    box-sizing: border-box;
    font-weight: 450;
    color: #000;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
}
.mobile-menu__checkbox:checked ~ .top-menu {
    height: max-content;
    padding: 96px 0 150px;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
    width: 100%;
    background: #000;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.start-screen {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #000;
    height: 100vh;
    &__video-wrapper {
        position: absolute;
        height: 100vh;
        overflow-y: hidden;
        z-index: 0;
    }
    &__video {
        width: 100%;
        filter: brightness(50%);
    }
    &__caption {
        display: flex;
        width: 100%;
        padding: 0 120px;
        justify-content: space-between;
        z-index: 1;
    }
    &__btn-down {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%);
        z-index: 1;
    }
}
.video-mobile {
    display: none;
}
.caption__text {
    & > h1 {
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: normal;
        font-size: 80px;
        line-height: 96px;
        text-transform: uppercase;
        color: #ffffff;
        margin-bottom: 16px;
    }
    & > span {
        position: relative;
        display: block;
        text-align: right;

        font-size: 32px;
        color: #ffffff;
        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 52%;
            width: 418px;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.3);
        }
    }
}
.caption__link {
    & > a {
        cursor: pointer;
        font-weight: 300;
        width: 253px;
        height: 253px;
        border-radius: 50%;
        border: 1px solid #ffffff;
        color: #fff;
        font-size: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
        &:hover {
            color: #000;
            border-color: #fff;
            background-color: #fff;
        }
    }
}
.visual-blok {
    display: flex;
    justify-content: space-around;
    padding: 120px;
    &__image-lg-wrapper {
        display: inline-block;
        max-width: 824px;
        width: 92%;
    }
    &__block-wrapper {
        width: 50%;
        padding-right: 10px;
    }
    &__image-sm-wrapper {
        max-width: 681px;
        width: 100%;
    }
    &__text {
        position: relative;
    }
    &__discription {
        width: 100%;
        & > h3 {
            font-family: "Playfair Display";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            margin-top: 0;
        }
    }
    &__nav-arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
}
.fashion__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-1.jpg.webp) no-repeat center;
    background-size: contain;
}
.fashion__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-2.jpg.webp) no-repeat center;
    background-size: contain;
}
.pregnancy__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-4.jpg.webp) no-repeat center;
    background-size: contain;
}
.pregnancy__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-3.jpg.webp) no-repeat center;
    background-size: contain;
}
.makeup__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-5.jpg.webp) no-repeat center;
    background-size: contain;
}
.makeup__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-6.jpg.webp) no-repeat center;
    background-size: contain;
}
.text-block-wrapper {
    max-width: 681px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.skip__line {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
    position: relative;
    margin-right: 30px;
    top: 20px;
}
.line {
    background-color: #000000;
    width: 33%;
    height: 2px;
    position: absolute;
    left: 0;
    top: -0.5px;
    &-2 {
        background-color: #000000;
        width: 33%;
        height: 2px;
        position: absolute;
        left: 33%;
        top: -0.5px;
    }
    &-3 {
        background-color: #000000;
        width: 33%;
        height: 2px;
        position: absolute;
        left: 66%;
        top: -0.5px;
    }
}
.skip__num {
    font-family: "Futura PT";
    font-size: 16px;
    color: #4f4f4f;
    & > span {
        font-size: 40px;
        font-weight: 300;
    }
}
.nav-arrows {
    display: flex;
    align-items: center;
    margin-right: 24px;
    & a + a {
        margin-left: 12px;
    }
}
.bottom-border {
    border-bottom: 1px solid #bdbdbd;
}