body {
    width: 100%;
    max-width: 1920px;
    font-family: "Futura PT";
    font-style: normal;
    font-weight: 300;
}
a,
a:active,
a:visited {
    text-decoration: none;
    color: initial;
}
.top-header {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 6.25%;
    box-sizing: border-box;
    height: 96px;
    top: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 5;
    &__link {
        @media screen and (max-width: $screen-lg) {
            display: none;
        }
        width: 123px;
        height: 48px;
        box-sizing: border-box;
        border: 1px solid #ffffff;
        padding: 14px 15px;
        z-index: 5;
        order: 0;
        &-text {
            font-weight: 300;
            color: #fff;
        }

    }
    &__logo-img {
        z-index: 5;
        order: 1;
        @include logo-style("/img/logo-fff.png");
    }
}
.dark-link {
    width: 164px;
    height: 48px;
    padding: 8px 16px 9px 16px;
    margin-left: 12px;
    border: 1px solid #000;
    background-color: #000;
    box-sizing: border-box;
    & > a {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 31px;
        text-align: right;
        color: #fff;
    }
}
.mobile-menu {
    &__btn {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 53px;
        height: 28px;
        cursor: pointer;
        transition: 0.4s;
        order: 2;
    }
    &__checkbox {
        display: none;
    }
    &__icon {
        position: relative;
        width: 48px;
        height: 28px;
        right: -3px;
        & > span {
            position: absolute;
            top: 14px;
            width: 100%;
            height: 1px;
            background-color: #fff;
        }
        &::before {
            top: 0;
            width: 100%;
        }
        &::after {
            right: 0;
            bottom: 0;
            width: 50%;
        }
        &::before,
        &::after {
            position: absolute;
            content: "";
            height: 1px;
            background-color: #fff;
            transition: 0.2s;
        }
        &:hover::after {
            width: 100%;
            transition: 0.2s;
        }
    }
}
.top-menu {
    position: absolute;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 0;
    opacity: 1;
    transition: 0.5s;
    overflow: hidden;
    background-color: #fff;
    &__border {
        width: 100%;
        border: 1px solid #bdbdbd;
    }
    &__item {
        margin-bottom: 48px;
    }
    &__list {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 300;
        font-size: 24px;
        line-height: 31px;
        transition: 0.5s;
        list-style: none;
    }
    &__link {
        color: #000;
    }
}
.mobile-menu__checkbox:checked ~ .top-header__logo-img {
    background-image: url("/img/logo-000.png");
    transition: 0.5s;
}
.mobile-menu__checkbox:checked ~ .top-header__link {
    border: 1px solid #000;
}
.mobile-menu__checkbox:checked ~ .top-header__link > .top-header__link-text {
    color: #000;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__nav {
    opacity: 1;
}
.mobile-menu__checkbox:checked ~ .top-menu {
    height: max-content;
    padding: 96px 0 150px;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
    width: 100%;
    background: #000;
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
}
.mobile-menu__checkbox:checked ~ .mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
}

