.footer {
    padding: 76px 6.25%;
    &__top-wrapper {
        @media screen and (max-width: $screen-xl) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-top: 1px solid #bdbdbd;
        padding-top: 40px;
        margin-bottom: 45px;
    }
    &__logo-images {
        @include logo-style("/images/logo-000.png");
    }
    &__footer-navigation {
        @media screen and (max-width: $screen-lg) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 32px 0;
        }
        @media screen and (max-width: $screen-xl) {
            width: 100%;
            margin: 40px 0;
        }

        display: flex;
        justify-content: space-around;
    }
    &-navigation__item {
        @media screen and (max-width: $screen-lg) {
            margin-bottom: 16px;
        }
        min-width: max-content;
        margin-left: 1.5rem;
    }
    &__icon-wrapper {
        display: flex;
        justify-content: space-around;
        width: 78px;
    }
    &__icon {
        &-fb {
            width: 30px;
            height: 30px;
            background-color: #828282;
            background: url(/images/icons/facebook.svg);
        }
        &-ig {
            display: inline-block;
            width: 30px;
            height: 30px;
            background-color: #828282;
            background: url(/images/icons/instagram.svg);
        }
    }
    &__bootom-wrapper {
        display: flex;
        justify-content: center;
    }
}
