#first,
#second,
#third {
    position: absolute;
    top: 20px;
    left: 0;
}
.visual-block {
    @media screen and (max-width: $screen-lg) {
        flex-direction: column;
        align-items: center;
    }
    position: relative;
    display: flex;
    justify-content: space-around;
    padding: 6.25%;
    &__image-lg-wrapper {
        @media screen and (max-width: $screen-lg) {
            width: 100%;
        }
        display: inline-block;
        max-width: 824px;
        width: 92%;
    }
    &__block-wrapper {
        @media screen and (max-width: $screen-lg) {
            width: 100%;
        }
        position: relative;
        width: 50%;
        padding-right: 10px;
    }
    &__image-sm-wrapper {
        max-width: 681px;
        width: 100%;
        z-index: 0;
    }
    &__water-letter {
        position: absolute;
        left: -160px;
        top: 33%;
        color: rgba(0, 0, 0, 0.06);
        font-family: "Playfair Display";
        font-style: normal;
        font-weight: normal;
        font-size: 440px;
        text-transform: uppercase;
        z-index: 1;
    }
    &__text {
        position: relative;
    }
    &__discription {
        width: 100%;
        & > h3 {
            font-family: "Playfair Display";
            font-style: normal;
            font-weight: normal;
            font-size: 40px;
            line-height: 53px;
            text-transform: uppercase;
            margin-top: 0;
        }
    }
    &__link {
        font-family: "Futura PT";
        font-style: normal;
        font-weight: 450;
        font-size: 16px;
        line-height: 24px;
        text-decoration-line: underline;

        color: #000000;
    }
    &__nav-arrows {
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        z-index: 2;
    }
}
.fashion__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-1.jpg.webp) no-repeat center;
    background-size: contain;
}
.fashion__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-2.jpg.webp) no-repeat center;
    background-size: contain;
}
.pregnancy__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-4.jpg.webp) no-repeat center;
    background-size: contain;
}
.pregnancy__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-3.jpg.webp) no-repeat center;
    background-size: contain;
}
.makeup__image-lg {
    width: 100%;
    padding-top: 103.88%;
    background: url(/img/dress-5.jpg.webp) no-repeat center;
    background-size: contain;
}
.makeup__image-sm {
    width: 100%;
    padding-top: 60.499%;
    background: url(/img/dress-6.jpg.webp) no-repeat center;
    background-size: contain;
}
.text-block-wrapper {
    @media screen and (max-width: $screen-lg) {
        flex-basis: 100%;
    }
    max-width: 681px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.skip__line {
    width: 100%;
    height: 1px;
    background-color: #bdbdbd;
    position: relative;
    margin-right: 30px;
    top: 20px;
}
.line {
    background-color: #000000;
    width: 33%;
    height: 2px;
    position: absolute;
    left: 0;
    top: -0.5px;
    &-2 {
        background-color: #000000;
        width: 33%;
        height: 2px;
        position: absolute;
        left: 33%;
        top: -0.5px;
    }
    &-3 {
        background-color: #000000;
        width: 33%;
        height: 2px;
        position: absolute;
        left: 66%;
        top: -0.5px;
    }
}
.skip__num {
    font-family: "Futura PT";
    font-size: 16px;
    color: #4f4f4f;
    & > span {
        font-size: 40px;
        font-weight: 300;
    }
}
.nav-arrows {
    display: flex;
    align-items: center;
    margin-right: 24px;
    & a + a {
        margin-left: 12px;
    }
}
.bottom-border {
    border-bottom: 1px solid #bdbdbd;
}
