// Futura PT
@font-face {
    font-family: "Futura PT";
    src: url("/font/FuturaPT/FuturaPT-Light.woff2") format("woff2"),
        url("/font/FuturaPT/FuturaPT-Light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Futura PT";
    src: url("/font/FuturaPT/FuturaPT-Medium.woff2") format("woff2"),
        url("/font/FuturaPT/FuturaPT-Medium.woff") format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
// Playfair Display
@font-face {
    font-family: "Playfair Display";
    src: url("/font/PlayfairDisplay/PlayfairDisplay-Regular.eot");
    src: local("Playfair Display Regular"), local("PlayfairDisplay-Regular"),
        url("/font/PlayfairDisplay/PlayfairDisplay-Regular.eot?#iefix")
            format("embedded-opentype"),
        url("/font/PlayfairDisplay/PlayfairDisplay-Regular.woff") format("woff"),
        url("/font/PlayfairDisplay/PlayfairDisplay-Regular.ttf")
            format("truetype");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "Playfair Display SC";
    src: url("/font/PlayfairDisplay/PlayfairDisplaySC-Black.eot");
    src: local("Playfair Display SC Black"), local("PlayfairDisplaySC-Black"),
        url("/font/PlayfairDisplay/PlayfairDisplaySC-Black.eot?#iefix")
            format("embedded-opentype"),
        url("/font/PlayfairDisplay/PlayfairDisplaySC-Black.woff") format("woff"),
        url("/font/PlayfairDisplay/PlayfairDisplaySC-Black.ttf")
            format("truetype");
    font-weight: 900;
    font-style: normal;
}
