%list-style {
    padding: 2px 0 2px 35px;
    margin: 16px 0;
}
%input-style {
    flex-basis: 47%;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid #bdbdbd;
    margin: 0 3% 40px 0;
    transition: 0.2s;
}
